USE [master]
GO
/****** Object:  Database [DSM_Int]    Script Date: 2018/8/4 22:57:44 ******/
CREATE DATABASE [DSM_Int]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSM_Int', FILENAME = N'E:\DSM_Int.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DSM_Int_log', FILENAME = N'E:\DSM_Int_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSM_Int].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSM_Int]
GO
USE [DSM_Int]
GO
/****** Object:  Table [dbo].[ProjectInfo]    Script Date: 2018/8/4 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ProjectInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorDataOrigin]    Script Date: 2018/8/4 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorDataOrigin](
	[SensorID] [int] NOT NULL,
	[MeaTime] [datetime] NOT NULL,
	[MeaValue1] [float] NULL,
	[MeaValue2] [float] NULL,
	[MeaValue3] [float] NULL,
	[ResValue1] [float] NULL,
	[ResValue2] [float] NULL,
	[ResValue3] [float] NULL,
	[Status] [tinyint] NOT NULL,
	[Origin] [tinyint] NOT NULL,
	[Remark] [varchar](255) NULL,
 CONSTRAINT [PK_SensorDataOrigin] PRIMARY KEY CLUSTERED 
(
	[SensorID] ASC,
	[MeaTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorInfo]    Script Date: 2018/8/4 22:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [int] NULL,
	[SensorCode] [nchar](50) NULL,
	[SensorTypeID] [uniqueidentifier] NULL,
	[ProjectSiteID] [uniqueidentifier] NULL,
	[LayLocation] [varchar](255) NULL,
	[LocationX] [varchar](255) NULL,
	[LocationY] [varchar](255) NULL,
	[LocationZ] [varchar](255) NULL,
 CONSTRAINT [PK_SensorInfo] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ClusteredIndex-20180804-225417]    Script Date: 2018/8/4 22:57:44 ******/
CREATE UNIQUE CLUSTERED INDEX [ClusteredIndex-20180804-225417] ON [dbo].[SensorInfo]
(
	[ProjectID] ASC,
	[SensorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SensorDataOrigin] ADD  CONSTRAINT [DF_SensorDataOrigin_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SensorDataOrigin] ADD  CONSTRAINT [DF_SensorDataOrigin_Origin]  DEFAULT ((0)) FOR [Origin]
GO
ALTER TABLE [dbo].[SensorDataOrigin]  WITH CHECK ADD  CONSTRAINT [FK_SensorDataOrigin_SensorInfo] FOREIGN KEY([SensorID])
REFERENCES [dbo].[SensorInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorDataOrigin] CHECK CONSTRAINT [FK_SensorDataOrigin_SensorInfo]
GO
ALTER TABLE [dbo].[SensorInfo]  WITH CHECK ADD  CONSTRAINT [FK_SensorInfo_ProjectInfo] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[ProjectInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorInfo] CHECK CONSTRAINT [FK_SensorInfo_ProjectInfo]
GO
USE [master]
GO
