USE [master]
GO
/****** Object:  Database [IOM]    Script Date: 2018/8/6 20:20:15 ******/

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IOM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IOM]
GO
USE [IOM]
GO
/****** Object:  Table [dbo].[ProjectInfo]    Script Date: 2018/8/6 20:20:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ProjectInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorDataOrigin]    Script Date: 2018/8/6 20:20:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorDataOrigin](
	[SensorID] [uniqueidentifier] NOT NULL,
	[Origin] [tinyint] NOT NULL,
	[MeaTime] [datetimeoffset](7) NOT NULL,
	
	[MeaValue1] [float] NULL,
	[MeaValue2] [float] NULL,
	[MeaValue3] [float] NULL,
	[ResValue1] [float] NULL,
	[ResValue2] [float] NULL,
	[ResValue3] [float] NULL,
	[Status] [tinyint] NOT NULL,
	[Remark] [varchar](255) NULL,
 CONSTRAINT [PK_SensorDataOrigin] PRIMARY KEY CLUSTERED 
(
	[SensorID] ASC,
	[Origin] ASC,
	[MeaTime] ASC
	
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorInfo]    Script Date: 2018/8/6 20:20:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProjectID] [uniqueidentifier] NOT NULL,
	[SensorCode] [varchar](50) NULL,
	[SensorTypeID] [uniqueidentifier] NULL,
	[ProjectSiteID] [uniqueidentifier] NULL,
	[LayLocation] [varchar](255) NULL,
	[LocationX] [varchar](255) NULL,
	[LocationY] [varchar](255) NULL,
	[LocationZ] [varchar](255) NULL,
 CONSTRAINT [PK_SensorInfo] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ProjectID_Name_ClusteredIndex]    Script Date: 2018/8/6 20:20:15 ******/
CREATE UNIQUE CLUSTERED INDEX [ProjectID_Name_ClusteredIndex] ON [dbo].[SensorInfo]
(
	[ProjectID] ASC,
	[SensorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SensorDataOrigin] ADD  CONSTRAINT [DF_SensorDataOrigin_Origin]  DEFAULT ((0)) FOR [Origin]
GO
ALTER TABLE [dbo].[SensorDataOrigin] ADD  CONSTRAINT [DF_SensorDataOrigin_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[SensorDataOrigin]  WITH NOCHECK ADD  CONSTRAINT [FK_SensorDataOrigin_SensorInfo] FOREIGN KEY([SensorID])
REFERENCES [dbo].[SensorInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorDataOrigin] CHECK CONSTRAINT [FK_SensorDataOrigin_SensorInfo]
GO
ALTER TABLE [dbo].[SensorInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_SensorInfo_ProjectInfo] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[ProjectInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorInfo] CHECK CONSTRAINT [FK_SensorInfo_ProjectInfo]
GO
USE [master]
GO

