USE [master]
GO
/****** Object:  Database [XLDDSM1]    Script Date: 2018/8/3 23:30:36 ******/
CREATE DATABASE [XLDDSM1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XLDDSM1', FILENAME = N'e:\XLDDSM1.mdf' , SIZE = 20324352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 131072KB )
 LOG ON 
( NAME = N'XLDDSM1_log', FILENAME = N'e:\XLDDSM1_log.ldf' , SIZE = 1843200KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XLDDSM1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XLDDSM1]
GO
USE [XLDDSM1]
GO
/****** Object:  Table [dbo].[ProjectInfo]    Script Date: 2018/8/3 23:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ProjectInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorDataOrigin]    Script Date: 2018/8/3 23:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorDataOrigin](
	[ID] [uniqueidentifier] NOT NULL,
	[SensorID] [uniqueidentifier] NULL,
	[MeaTime] [datetime] NULL,
	[MeaValue1] [float] NULL,
	[MeaValue2] [float] NULL,
	[MeaValue3] [float] NULL,
	[ResValue1] [float] NULL,
	[ResValue2] [float] NULL,
	[ResValue3] [float] NULL,
	[Status] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [ClusteredIndex-20180803-224531]    Script Date: 2018/8/3 23:30:36 ******/
CREATE UNIQUE CLUSTERED INDEX [ClusteredIndex-20180803-224531] ON [dbo].[SensorDataOrigin]
(
	[SensorID] ASC,
	[MeaTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorInfo]    Script Date: 2018/8/3 23:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProjectID] [uniqueidentifier] NOT NULL,
	[SensorCode] [nchar](50) NULL,
	[SensorTypeID] [uniqueidentifier] NULL,
	[ProjectSiteID] [uniqueidentifier] NULL,
	[LayLocation] [varchar](255) NULL,
	[LocationX] [varchar](255) NULL,
	[LocationY] [varchar](255) NULL,
	[LocationZ] [varchar](255) NULL,
 CONSTRAINT [PK_SensorInfo] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ProjectID_Name_ClusteredIndex]    Script Date: 2018/8/3 23:30:36 ******/
CREATE UNIQUE CLUSTERED INDEX [ProjectID_Name_ClusteredIndex] ON [dbo].[SensorInfo]
(
	[ProjectID] ASC,
	[SensorCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SensorDataOrigin]  WITH NOCHECK ADD  CONSTRAINT [FK_SensorDataOrigin_SensorInfo] FOREIGN KEY([SensorID])
REFERENCES [dbo].[SensorInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorDataOrigin] CHECK CONSTRAINT [FK_SensorDataOrigin_SensorInfo]
GO
ALTER TABLE [dbo].[SensorInfo]  WITH NOCHECK ADD  CONSTRAINT [FK_SensorInfo_ProjectInfo] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[ProjectInfo] ([ID])
GO
ALTER TABLE [dbo].[SensorInfo] CHECK CONSTRAINT [FK_SensorInfo_ProjectInfo]
GO
USE [master]
GO
